<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-ecology-spreadsheet">Data Organisation in Spreadsheets</h3>
    <ul>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/00-intro/">Introduction</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/01-format-data/">Formatting Data</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/02-common-mistakes/">Common Formatting Problems</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/03-dates-as-data/">Dates as Data</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/04-quality-control/">Quality Control</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/05-exporting-data/">Exporting Data</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-ecology-openrefine">Data Cleaning with OpenRefine</h3>
    <ul>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/00-getting-started/">Introduction</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/01-working-with-openrefine/">Working with OpenRefine</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/02-filter-exclude-sort/">Filtering and Sorting</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/03-numbers/">Examining Numeric Data</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/04-scripts/">Generating Scripts</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/05-save-export/">Exporting Data</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/06-resources/">Other Resources</a></li>    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-ecology-r">Introduction to R</h3>
    <ul>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/00-before-we-start.html">Overview of R and RStudio</a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with Data</a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating Data Frames with <code>dplyr</code></a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data Visualisation with <code>ggplot2</code></a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/05-r-and-databases.html">Interacting with Databases with <code>dbplyr</code></a></li>
    </ul>
  </div>

<!--
  <div class="col-md-6">
    <h3 id="syllabus-ecology-python">Introduction to Python</h3>
@@ -44,96 +11,8 @@ <h3 id="syllabus-ecology-python">Introduction to Python</h3>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions/index.html">Data Workflows and Automation</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python/index.html">Data Visualisation with <code>plotnine</code></a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/08-putting-it-all-together/index.html">Data Visualisation with <code>matplotlib</code></a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/09-working-with-sql/index.html">Interacting with Databases with <code>pandas</code></a></li>
    </ul>
  </div>
-->
  <div class="col-md-6">
    <h3 id="syllabus-ecology-sql">Data Management with SQL</h3>
    <ul>
      <li><a href="https://datacarpentry.org/sql-ecology-lesson/00-sql-introduction/index.html">Introduction to SQL</a></li>
      <li><a href="https://datacarpentry.org/sql-ecology-lesson/01-sql-basic-queries/index.html">Basic Queries</a></li>
      <li><a href="https://datacarpentry.org/sql-ecology-lesson/02-sql-aggregation/index.html">SQL Aggregation and Aliases</a></li>
      <li><a href="https://datacarpentry.org/sql-ecology-lesson/03-sql-joins/index.html">Joins</a></li>
    </ul>
  </div>
